:root {
  --serif: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  --sans: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  background-color: #f7f5f1;
}

.scroll-controller {
  overflow-x: hidden;
}

body {
  color: #3b3b3b;
  font-family: var(--sans);
}

p {
  line-height: 1.6rem;
}

h1 {
  font-family: var(--serif);
  color: #e0c579;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin: 0;
  line-height: 110%;
  text-shadow: 3px 3px 2px rgb(27, 8, 44), 0 0 5px rgb(19, 57, 62, 0.9);
}

h2 {
  font-family: var(--serif);
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  padding: 0 0 10px 0;
}

h3 {
  font-family: var(--serif);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 10px 0 5px 0;
}

a {
  font-family: var(--serif);
  color: #02559d;
  font-weight: bold;
  transition: 0.2s;
}

a:hover {
  opacity: 0.3;
}

table {
  margin: 0 auto;
}

td {
  padding: 0 5px;
}

.content-wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #333;
  text-align: center;
  color: #fff;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo img {
  width: 260px;
}

.rotate {
  animation: rotateAnime 0.8s cubic-bezier(0.54, 1.43, 0.17, 1.01);
}

@keyframes rotateAnime {
  from {
    transform: translateX(500px) rotate(180deg);
  }

  to {
    transform: translateX(0px) rotate(0deg);
  }
}

header {
  background-image: url("../img/jdl/header.png"),
    url("../img/jdl/header_back.png");
  background-size: contain, cover;
  height: 590px;
  background-repeat: no-repeat;
  background-position: center;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f7f5f1;
  transition: 0.5s ease-out;
}

.isPlay:before {
  transform: translate3d(-100%, 0, 0);
}

header nav {
  position: absolute;
  right: 0;
}

header a {
  color: #eee2d7;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(70, 68, 68);
}

header a:hover {
  opacity: 0.7;
  text-shadow: 2px 3px 1px rgb(107, 107, 107);
}

header ul {
  display: flex;
  margin: 0;
  padding: 20px;
}

header li {
  padding: 0 15px;
}

header .content-wrapper {
  padding-top: 28rem;
}

.flex.sns-links {
  justify-content: center;
}

.sns-button {
  border-radius: 50%;
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 30px;
  transition: 0.5s;
  text-decoration: none;
  margin: 20px;
}

.sns-button:hover {
  color: #fff !important;
  opacity: 1;
}

.sns-button.twitter {
  border: solid 1px black;
  color: black;
}

.sns-button.twitter:hover {
  border: solid 1px black;
  background: black;
}

.sns-button.instagram {
  border: solid 1px #c6529a;
  color: #c6529a;
}

.sns-button.instagram:hover {
  border: solid 1px #c6529a;
  background: #c6529a;
}

.fa-brands,
.fab {
  padding: 20px;
}

#date table {
  margin: auto;
}

#date td {
  text-align: left;
  white-space: nowrap; /* 応急処置的に追加．300px以下の横幅だと画面外にはみ出すがそんな狭い環境はほとんどないはず．絶対もっと適切なやり方があると思う． */
}

#date p {
  margin-top: 5px;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

#access dl {
  width: 50%;
  margin: 0 auto;
}

#access dt,
#access dd {
  float: left;
  text-align: left;
  padding: 10px 0;
  line-height: 160%;
}

#access dt {
  width: 20%;
  clear: both;
}

#access dd {
  width: 70%;
  margin-left: 10%;
}

#map {
  width: 600px;
  height: 450px;
  border: 0;
}

#cast .flex {
  justify-content: space-around;
  flex-wrap: wrap;
}

#cast .flexcontent {
  width: 20%;
  padding: 5px;
}

#cast img {
  width: 130px;
}

#cast figure {
  margin: 10px 0;
}

#cast td {
  padding: 0 10px;
  line-height: 1.3rem;
}

#price table {
  font-size: large;
  padding: 5px;
  border-collapse: collapse;
  background-color: #fff8e5;
  margin: 10px auto;
}

#price th,
#price td {
  padding: 10px 15px;
}

#price .gray {
  background-color: #615a5a;
  color: #fff;
  font-weight: normal;
}

#price table tr:nth-child(even) {
  background-color: #e2e0e0;
}

.note {
  font-size: 0.9rem;
}

#ticket h3 {
  padding-top: 20px;
}

.with-dot {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.with-dot li {
  padding: 3px;
  list-style: circle;
}

#donation .flexcontent {
  flex: 1;
  padding: 10px 0;
}

#donation .flexcontent p {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#caution ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  margin: 0 auto;
}

#caution li {
  padding: 3px;
  list-style: circle;
}

section:nth-of-type(even) {
  background-color: #e4dfcc;
}

.upper-footer {
  background-color: #c9c7c1;
  z-index: 1;
  position: relative;
}

.upper-footer li {
  flex-grow: 1;
  flex-basis: auto;
  padding: 10px;
}

.upper-footer a {
  display: block;
  font-family: var(--sans);
  color: #515151;
}

a.icon {
  display: contents;
}

.bottom-footer {
  text-align: center;
  background-color: #515151;
  color: #fdf4e0;
  padding: 5px;
}

.flex {
  display: flex;
}

.fade-in {
  opacity: 0;
  transition-duration: 800ms;
  transition-property: opacity, transform;
}

.fade-in:nth-child(odd) {
  transform: translateX(-50px);
}

.fade-in:nth-child(even) {
  transform: translateX(50px);
}

.icon:hover {
  opacity: 1;
}

.icon img {
  transition: 0.2s all ease-out;
}

.icon img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.2s all ease-in;
}

.anchor {
  color: rgb(29, 30, 31);
}

button {
  border: 0;
  color: #fafafa;
  font-size: large;
  font-family: var(--sans);
  font-weight: normal;
  text-align: center;
  background-color: #cb8d4a;
  border-radius: 10px 3px;
  margin: 10px;
  padding: 10px;
  border-bottom: 5px solid #915b22;
}

button:hover {
  margin-top: 13px;
  border-bottom: 2px solid #915b22;
}

button.not-ready {
  background-color: #676767;
  text-align: center;
  border-bottom: 5px solid #2d2d2d;
}

button.not-ready:hover {
  margin-top: 10px;
  border-bottom: 5px solid #2d2d2d;
}

iframe {
  width: 560px;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }

  header {
    margin-top: 60px;
    height: 300px;
    background-image: url("../img/jdl/header.png");
    background-size: cover;
  }

  .content-wrapper {
    width: 80%;
  }

  h1 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  h2 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }

  h3 {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }

  iframe {
    width: 100%;
  }

  header .content-wrapper {
    width: 100%;
    padding-top: 15rem;
  }

  header nav {
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    z-index: 2;
    width: 100%;
    display: none;
    top: 60px;
  }

  header nav ul {
    display: block;
    padding: 5px 20%;
  }

  header nav li {
    font-size: 0.9rem;
    color: #606060;
    border-bottom: 1px solid rgba(118, 123, 133, 0.3);
    text-align: center;
  }

  header nav li:last-child {
    border-bottom: none;
  }

  header nav a {
    padding: 20px;
    display: block;
    color: #333;
    font-weight: normal;
    text-shadow: none;
  }

  header nav a:hover {
    color: #ae9218 !important;
    text-shadow: none;
  }

  #menu-wrapper {
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    padding: 15px 15px 8px 15px;
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
    height: 60px;
  }

  .trigger,
  .trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  .trigger {
    position: relative;
    width: 35px;
    height: 30px;
  }

  .trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #718085;
    border-radius: 4px;
    opacity: 1;
  }

  .trigger a:hover {
    opacity: 1;
  }

  .trigger span:nth-of-type(1) {
    top: 0;
  }

  .trigger span:nth-of-type(2) {
    top: 12px;
  }

  .trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .trigger.active span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  .trigger.active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    -webkit-animation: active-menu-bar02 0.8s forwards;
    animation: active-menu-bar02 0.8s forwards;
  }

  @-webkit-keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }

  @-webkit-keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }

  @keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }

  .trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg);
  }

  .onanimation {
    display: block;
  }

  body,
  p {
    font-size: 0.9rem;
  }

  .sns-links {
    display: flex;
  }

  #access dt {
    width: 100%;
    padding: 10px 0;
  }

  #access dd {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  #map {
    width: 80%;
    height: 300px;
    border: 0;
  }

  #price table {
    font-size: 0.9rem;
  }

  #cast .flexcontent {
    width: 100%;
  }

  #cast img {
    padding: 0;
  }

  #cast figure {
    margin: 10px;
  }

  .upper-footer .content-wrapper,
  footer nav {
    width: 100%;
  }

  .upper-footer ul {
    font-size: 0.8rem;
    padding: 0 10%;
  }

  .upper-footer li {
    flex-grow: 1;
    flex-basis: auto;
    border-bottom: 1px solid #000;
  }

  .upper-footer li:first-child {
    border-top: 1px solid #000;
  }

  .upper-footer a {
    padding: 0.8rem;
  }

  .fade-in:nth-child(n) {
    transform: translateY(50px);
  }
}

.scroll-in:nth-child(n) {
  opacity: 1;
  transform: translate(0, 0);
}
