<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="ja" />

    <title>Juggling Donuts</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    {% if has_slider %}
    <link rel="stylesheet" href="/css/slick.css" />
    {% endif %}
    <link rel="shortcut icon" href="/img/icon.ico" />
    <link rel="apple-touch-icon" href="/img/apple_touch_icon.png" />
    <link rel="icon" type="image/png" href="/img/android_chrome.png" />
  </head>

  <body>
    <div id="menu-wrapper">
      <a class="trigger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <header>
      <nav>
        <ul>
          <li><a href="/index.html">TOP</a></li>
          <li><a href="/members.html">メンバー紹介</a></li>
          <li><a href="/irai.html">出演依頼</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="content-wrapper title">
        <h1>京都<wbr />大道芸<wbr />倶楽部 <wbr />Juggling <wbr />Donuts</h1>
      </div>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <div class="upper-footer">
        <div class="content-wrapper">
          <nav>
            <ul class="flex">
              <li class="nav-item">
                <a href="/index.html" class="nav-link">TOP</a>
              </li>
              <li class="nav-item">
                <a href="/members.html" class="nav-link">メンバー紹介</a>
              </li>
              <li class="nav-item">
                <a href="/irai.html" class="nav-link">出演依頼</a>
              </li>
            </ul>
          </nav>
          <a href="index.html" class="icon">
            <img
              src="/img/icon.svg"
              style="margin: 1em; width: 100px"
              alt="Top"
            />
          </a>
        </div>
      </div>
      <div class="bottom-footer">&copy; 2017-2025 Juggling Donuts</div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      $(".trigger").click(function () {
        $(this).toggleClass("active");
        $("header nav").toggleClass("onanimation");
      });

      $("header nav li a").click(function () {
        $(".trigger").removeClass("active");
        $("header nav").toggleClass("onanimation");
      });
    </script>
    {% if has_slider %}
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(".slider").slick({
        autoplay: true,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        prevArrow: '<div class="slick-prev"></div>',
        nextArrow: '<div class="slick-next"></div>',
        centerMode: true,
        variableWidth: true,
        dots: true,
      });
    </script>
    {% endif %}
  </body>
</html>
