<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="none">
  <meta name="description" content="Juggling Donutsが総力を挙げて贈る、年に1度のジャグリングライブショー">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="css/jdl.css">
  <link rel="shortcut icon" href="img/icon.ico">
  <link rel="apple-touch-icon" href="img/apple_touch_icon.png">
  <link rel="icon" type="image/png" href="img/android_chrome.png">
  <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
  <title>Juggling Donuts Live {{year}}</title>
</head>

<body>
  <div class="scroll-controller">
    <div id="loading">
      <div id="logo">
        <img src="img/icon.svg" alt="" class="rotate"><br>
      </div>
    </div>
    <div id="menu-wrapper">
      <a class="trigger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <header>

      <nav>
        <ul>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#date">DATE</a></li>
          <li><a href="#access">ACCESS</a></li>
          <li><a href="#ticket">TICKET</a></li>
          <li><a href="#cast">CAST&amp;STAFF</a></li>
          <li><a href="#caution">CAUTION</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about" class="fade-in">
        <div class="content-wrapper">
          <h2>Juggling Donuts Live (JDL) とは?</h2>
          <p>京都大道芸倶楽部Juggling
            Donutsが総力を挙げて贈る、年に一度のジャグリングライブショー！<br>
            ジャグリングと無声劇のコラボレーションをお楽しみください。<br>
            変更や連絡、その他出演者の紹介等は<a href="http://www.twitter.com/Juggling_Donuts/">X</a>や<a href="https://www.instagram.com/jugglingdonuts/">Instagram</a>にアップします。ぜひチェックしてください！<br>
            チケットについては<a href="#ticket" class="">こちら</a>から！
          </p>
          <ul class="flex sns-links">
            <li class="flexcontent">
              <a href="http://www.twitter.com/Juggling_Donuts/" class="sns-button twitter">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
            <li class="flexcontent">
              <a href="https://www.instagram.com/jugglingdonuts/" class="sns-button instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          </p>
        </div>
      </section>

      {% if promo_ready %}
      <section id="promo_video" class="fade-in">
        <div class="content-wrapper">
          <iframe src="{{promo_url}}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </section>
      {% endif %}

      <section id="date" class="fade-in">
        <div class="content-wrapper">
          <h2>日時</h2>
          <table>
            <tr>
              <td>日付</td>
              <td colspan="3">{{year}}年{{month}}月{{date}}日（{{day}}）</td>
            </tr>
            <tr>
              <td>時間</td>
              <td>昼の部</td>
              <td>開演 14:30</td>
              <td>（開場 14:00）</td>
            </tr>
            <tr>
              <td></td>
              <td>夜の部</td>
              <td>開演 18:30</td>
              <td>（開場 18:00）</td>
            </tr>
          </table>
          <p>昼の部、夜の部の公演はどちらも同じ内容で、<wbr>公演時間はおよそ１時間を予定しています。</p>
        </div>
      </section>

      <section id="access" class="fade-in">
        <div class="content-wrapper">
          <h2>会場</h2>
          <dl>
            <dt>会場</dt>
            <dd>京都府立文化芸術会館</dd>
            <dt>住所</dt>
            <dd>〒602-0858 京都市上京区河原町通広小路下ル東桜町1番地</dd>
            <dt>HP</dt>
            <dd><a href="http://www.bungei.jp">京都府立文化芸術会館HP</a>（外部サイト）</dd>
          </dl>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3267.3530424699907!2d135.76668371550159!3d35.02289687340104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010860fda53017%3A0x6e35fd78e4481b05!2z5Lqs6YO95bqc56uL5paH5YyW6Iq46KGT5Lya6aSo!5e0!3m2!1sja!2sjp!4v1676264263339!5m2!1sja!2sjp"
            id="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>

      <section id="price" class="fade-in">
        <div class="content-wrapper">
          <h2>料金</h2>
          <p>昼の部、夜の部の料金は以下の通りです。</p>
          <table>
            <tr>
              <th></th>
              <th class="gray">通常料金 <small>(*1)</small></th>
              <th class="gray">昼夜セット割 <small>(*2)</small></th>
            </tr>
            <tr>
              <th>大人</th>
              <td>￥1,600</td>
              <td>￥2,500</td>
            </tr>
            <tr>
              <th>大学生</th>
              <td>￥1,200</td>
              <td>￥2,000</td>
            </tr>
            <tr>
              <th>高校生以下</th>
              <td>￥500</td>
              <td>￥800</td>
            </tr>
            <tr>
              <th>未就学児</th>
              <td>￥0</td>
              <td>-</td>
            </tr>
          </table>
          <ul class="note">
            <li>(*1) 昼の部、夜の部それぞれ同額となります。</li>
            <li>(*2) 昼の部と夜の部の両方をご覧になる方の料金です。</li>
          </ul>
        </div>
      </section>

      <section id="ticket" class="fade-in">
        <div class="content-wrapper">
          <h2>チケットについて</h2>
          <ul class="with-dot">
            <li>JDL{{year}}のチケットは電子チケット、紙チケットおよび当日券の３種類がございます。</li>
            <li>電子チケットはPassMarketにて販売しております。</li>
            <li><a href="#e-ticket" class="anchor">電子チケット購入時の注意</a>を読んだうえで下記リンクから購入してください。</li>
            <li>紙チケットは部員が手売りで販売しているため、基本的にJuggling Donuts関係者のみへの販売となります。</li>
            <li>当日券は座席に余りがある場合に当日会場受付で販売いたします。</li>
            <li>当日に座席が余っているかは不確実であり、受付での混雑緩和のためにも電子チケットの購入をお願いいたします。</li>
          </ul>
          {% if ticket_ready %}
          <button onclick="window.open('{{ticket_url}}')">
            チケット購入はこちら
          </button>
          {% else %}
          <button class = "not-ready">
            チケット準備中
          </button>
          {% endif %}

          <h3 id="e-ticket">電子チケット購入時の注意</h3>
          <ul class="with-dot">
            <li>支払いはクレジットカードまたはPayPay残高決済が利用できます。
                ただしPayPay残高決済はYahoo! JAPAN IDとの連携が必要です。</li>
            <li>未就学児をお連れの保護者様は、未就学児のための電子チケット購入の必要はありません。
                保護者様分の必要枚数をお買いください。 </li>
            <li>電子チケットは購入時に入力いただいたメールアドレスに送信されます。
                必ず正しいメールアドレスを入力してください。
                また購入に返信されたメールは当日チケットとして提示していただく必要があるため削除しないようお願いします。 </li>
            <li>購入時にメールアドレスと数字4桁のパスワードを設定します。
                パスワードは当日電子チケットを表示するときに必要となりますので忘れないようにメモなどを取っておいてください。</li>
          </ul>

          <h3>キャンセルについて</h3>
          <ul class="with-dot">
            <li>
              一人で10枚までチケットを購入することができますが、仕様上1枚ごとのキャンセルができません。
              枚数を変更する場合は、購入されたチケットを一度すべてキャンセルしていただき、再度正しい枚数で購入をしていただきます。
              なるべく来場が決まっている枚数だけ購入してください。
            </li>
            <li>
              電子チケット購入後のキャンセルには主催者側からの操作が必要となります。
              お手数ですが<a href="#contact" class="anchor">お問い合わせ</a>
              に書かれているメールアドレスまで、購入者のお名前、注文番号（0から始まる12桁の文字列）とともにキャンセルの旨をご連絡ください。
            </li>
            <li>
              キャンセルの期限は公演前日の21時です。
              それまでにご連絡いただいた場合、お振込みいただいた料金を全額返金いたします。
            </li>
            <li>
              期限以降のキャンセルには対応できません。
              ご了承ください。
            </li>
          </ul>

          <h3>当日の受付について</h3>
          <ul class="with-dot">
            <li>開演の45分前から受付を開始します。公演に間に合うようにご来場ください。</li>
            <li>ご購入時に返送したメールから入場券を確認させていただきます。
                電子チケットを購入された方は必ずスマホ等のチケットが利用可能な端末をご持参ください。</li>
            <li>座席指定は行っておりません。当日ご来場いただいた順番に案内させていただきます。</li>
            <li>昼夜セット割をご利用のお客様は昼の部と夜の部で同じ電子チケットを提示していただきます。</li>
          </ul>
        </div>
      </section>

      <section id="donation" class="fade-in">
        <div class="content-wrapper">
          <h2>カンパについて</h2>
          <p>
            JDL{{year}}では、皆様からのご厚意をカンパという形で受け付けております。
            よろしければご協力よろしくお願いいたします。
          </p>
          <div class="flex">
            <div class="flexcontent">
              <h3>【OFUSEによるご支援】</h3>
              <p>
                OFUSEにてカンパを受け付けております。
                ログインは不要で、1口100円～11000円となっております。
                支払いにはクレジットカード・Vプリカ・Apple Pay・Google Payをご利用いただけます。<br>
                Juggling Donutsの活動を支援していただける方は、以下のURLからご協力よろしくお願いいたします。
              </p>
              {% if ofuse_ready %}
              <button onclick="window.open('{{ofuse_url}}')">
                OFUSE
              </button>
              {% else %}
              <button class = "not-ready">
                OFUSE準備中
              </button>
              {% endif %}
            </div>
            <div class="flexcontent">
              <h3>【当日会場でのご支援】</h3>
              <p>
                公演当日に募金の形でのカンパも受け付ける予定です。
                ご支援いただける方は会場に設置するブースにてご協力よろしくお願いいたします。
              </p>
            </div>
          </div>
        </div>
      </section>

      {% if sponsors_ready %}
      <section id="sponsor" class="fade-in">
        <div class="content-wrapper">
          <h2>スポンサー</h2>
          <p>JDL{{year}}は以下のスポンサーの皆様にご協賛いただいております。<br>
            {% for sponsor in sponsors %}
              {{sponsor}}様<br>
            {% endfor %}
          </p>
        </div>
      </section>
      {% endif %}

      <section id="cast" class="fade-in">
        <div class="content-wrapper">
          <h2>Cast&amp;Staff</h2>
          <h3>出演 </h3>
          <div class="flex">
            {% for cast in casts %}
            <div class="flexcontent">
              <figure>
                <img src="img/jdl{{year}}/{{ cast.fname }}">
                <figcaption>
                  {{cast.name}}<br>
                  {% if cast.equip %}
                  （{{cast.equip}}）
                  {% endif %}
                </figcaption>
              </figure>
            </div>
            {% endfor %}
          </div>
          <h3>スタッフ</h3>
          <table class="staff">
            {% for member in staff %}
            <tr>
              <td>{{member.roll}}</td>
              <td>{{member.name}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </section>

      <section id="caution" class="fade-in">
        <div class="content-wrapper">
          <h2>注意事項</h2>
          <ul>
            <li>お問い合わせの対応は担当者が手作業で行っています。その為返信には二日ほどかかる場合があります。</li>
            <li>これらの情報は予告なく変更する可能性があります。</li>
          </ul>
        </div>
      </section>

      <section id="contact" class="fade-in">
        <div class="content-wrapper">
          <h2>お問い合わせ</h2>
          <p>
            ご不明な点がございましたら広報担当までお気軽にお問い合わせください。<br>
            （{{latest_update}}更新）<br>
            E-mail: <a href="mailto:juggling.donuts.kouhou@gmail.com">juggling.donuts.kouhou@gmail.com</a><br>
            （担当：{{pr_manager}}）
          </p>
        </div>
      </section>
    </main>

    <footer>
      <div class="upper-footer">
        <div class="content-wrapper">
          <nav>
            <ul class="flex">
              <li><a href="#about">ABOUT</a></li>
              <li><a href="#date">DATE</a></li>
              <li><a href="#access">ACCESS</a></li>
              <li><a href="#ticket">TICKET</a></li>
              <li><a href="#cast">CAST&amp;STAFF</a></li>
              <li><a href="#caution">CAUTION</a></li>
              <li><a href="#contact">CONTACT</a></li>
            </ul>
          </nav>
          <a href="index.html" class="icon">
              <img src="img/icon.svg" style="margin-top: 5%; font-size: 1.2rem; width: 100px" alt="Top">
          </a>
        </div>
      </div>
      <div class="bottom-footer">
          &copy; {{year}} Juggling Donuts
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    $(".trigger").click(function () {
      $(this).toggleClass("active")
      $("header nav").toggleClass("onanimation")
    });

    $("header nav li a").click(function () {
      $(".trigger").removeClass("active")
      $("header nav").toggleClass("onanimation")
    });

    $(function () {
      $(window).on('load scroll', function () {
        $(".fade-in").each(function () {
          var ePos = $(this).offset().top;
          var scroll = $(window).scrollTop();
          var windowHeight = $(window).height();
          if (scroll > ePos - windowHeight + windowHeight / 5) {
            $(this).addClass("scroll-in")
          }
        });
      });
    });

    $(window).on('load', function () {
      document.addEventListener('touchmove', noscroll, { passive: false });
      document.addEventListener('wheel', noscroll, { passive: false });
      $("#logo").delay(500).fadeOut("slow");
      $("#loading").delay(800).fadeOut("slow");
      $("header").delay(1000).queue(function () {
        $(this).addClass('isPlay');
        document.removeEventListener('touchmove', noscroll, { passive: false });
        document.removeEventListener('wheel', noscroll, { passive: false });
      });
    });

    function noscroll(e) {
      e.preventDefault();
    }

    $(function () {
      var headerHeight = ($(window).width() < 768) ? 55 : 0;
      var urlHash = location.hash;
      if (urlHash) {
        $('body,html').stop().scrollTop(0);
        setTimeout(function () {
          var target = $(urlHash);
          var position = target.offset().top - headerHeight;
          $('body,html').stop().animate({ scrollTop: position }, 500);
        }, 100);
      }
      $('a[href^="#"]').click(function () {
        $(".trigger").removeClass("active")
        $("header nav").removeClass("onanimation")
        var href = $(this).attr("href");
        var target = $(href);
        var position = target.offset().top - headerHeight;
        $('body,html').stop().animate({ scrollTop: position }, { duration: 500, easing: 'swing' });
        return false;
      });
    });
  </script>
</body>

</html>
