
<!--2022年のJDLはインテ―ネットでの公開をしたため例年とは大きくコードを変える必要がありました。
例年の物はjdl_sub.htmlに保存されているので、使うときはそちらをコピペしてください。-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="none">
    <title>Juggling Donuts Live {{ year }}</title>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/css/jdl.css">
     <style>
      .mini{
        width: 60px;
        height: 90px;	
        float: left;
        margin: 0px 0.5em 0px 0.5em;
     }
       .mini2{
        width: 130px;
        height: 90px;	
        float: right;
        margin: 0px 0.5em 0px 0.5em;
     }
    </style>
  </head>
  <body>
    <header>
      <h1>Juggling Donuts Live {{ year }}</h1>
    </header>
    <main>
      <section id="about">
        <h2>Juggling Donuts Liveとは?</h2>
        <article>
          <p>京都大道芸倶楽部Juggling Donutsが<br>総力を挙げて贈る、年に一度の<br>ジャグリングライブショー！</p>
          <p>大道芸とは一味違った迫力満点のステージショーを<br>今年は動画サイトでお届けします！</p>
          <p>変更や連絡、その他出演者の紹介等は<a href="http://www.twitter.com/Juggling_Donuts">Twitter</a>, <a href="https://www.instagram.com/p/CYtUKO1rgNC/?utm_medium=copy_link">Instagram</a>にアップするので<br>そちらも併せてご覧ください。</p>
        </article>
      </section>
      <section id="date">        <h2>日時</h2>
        <article>
          <div>{{ year }}年{{ month }}月下旬</div>
           <p>に公開を予定しています。<br>※リンクは準備中です。</p>
        </article>
      </section>
      
      <section id="cast">
        <h2>出演</h2>
        <table class="list">
        {% for cast in casts %}
          <tr>
            <td>{{ cast.name }}</td>
            <td>({{ cast.tool }})</td>
          </tr>
        {% endfor %}
        </table>
      </section>
      <!--
      <section id="staff">
        <h2>スタッフ</h2>
        <table class="list">
        {% for staff in staffs %}
          <tr>
            <td>{{ staff.position }}</td>
            <td>{{ staff.name }}</td>
          </tr>
        {% endfor %}
        </table>
      </section>
-->
      
      <section id="camp">
        <h2>カンパについて</h2>
          <article>
            <p>多くの方に観ていただくため、今回は無料での公開とさせていただきました。</p>
            <p>しかしながら、製作にはかなりの費用を要することもまた事実です。</p>
            <p>つきましては、皆様からの温かいお気持ちをカンパという形で賜りたく申し上げます。</p>
            <p>今後の活動を応援していただける方は、是非ともご協力よろしくお願いします。</p>
            <p></p>
          </article>
        <h3>【OFUSEによるご支援】</h3>
          <article>
            <p>JDL2022でのカンパにつきまして、OFUSEというサイトを用いて受け付けております。ログインは不要で、1口100円～11000円の間でご利用できます。</p>
            <p>ご支援いただける方は下記リンクから金額等を設定し、カード情報を入力して下さい。支払いにはクレジットカード・Vプリカ・Apple Pay・Google Payが利用できます。ご協力よろしくお願い致します。</p>
            <p>https://ofuse.me/jdlive2022</p>
          </article>
        
        <h3>【銀行振り込みよるご支援】</h3>
          <article>
            <p>OFUSEに加えて、銀行口座に直接振り込んでいただく形でのカンパも受け付けております。ご支援いただける方は、下記フォームからお名前とメールアドレスをご記入ください。ご記入いただいたアドレスに送金先情報を送信いたします。</p>
            <p>https://docs.google.com/forms/d/e/1FAIpQLSfgxHJu--jjv2TXaZzy4rPpRAW-NIRpK8qpQpUnLmTkf0eA-A/viewform</p>
          </article>
      </section>  
      
      <section id="price">
        <h2>アンケート</h2>
          <article>
            <p>今後の活動の参考にするため、作品をご覧になった方に対して<br>Google フォームによるアンケートを行います。</p>
            <p>ご協力いただけると幸いです。</p>
            <p>※リンクは現在準備中です。</p>
            <p></p>
          </article>
      </section>  
      <section id="caution">
        <h2>注意事項</h2>
        <ul class="l"> 
          <li>これらの情報は予告なく変更することがあります。</li>
          <li>動画の無断転載はご遠慮ください。</li>
        </ul>
      </section>
      <section id="contact">
        <h2>お問い合わせ</h2>
        <p>ご不明な点がございましたら広報担当までお気軽にお問い合わせください。<br>E-mail：<a href="mailto:juggling.donuts.kouhou&#64;gmail.com">juggling.donuts.kouhou&#64;gmail.com</a><br></p>
      </section>
    </main>
    <footer>
      (c) {{ year }} Juggling Donuts
    </footer>
  </body>
</html>
