<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-language" content="ja">

  <title>Juggling Donuts</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="css/style_new.css">
  <link rel="shortcut icon" href="img/icon.ico">
  <link rel="apple-touch-icon" href="img/apple_touch_icon.png">
  <link rel="icon" type="image/png" href="img/android_chrome.png">
  <script>
  </script>
</head>

<body>
  <div id="menuWrapper">
    <a class="trigger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <header>
    <nav>
      <ul>
        <li><a href="/#about">Donutsについて</a></li>
        <li><a href="/members.html">メンバー紹介</a></li>
        <li><a href="/irai.html">出演依頼</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="contentWrapper title">
      <h1>京都<wbr>大道芸<wbr>倶楽部 <wbr>Juggling <wbr>Donuts</h1>
    </div>
    <section>
      <div class="canvasWrapper">
        <canvas id="canvas" width="300" height="400"></canvas>
      </div>
      <div class="canvasWrapper">
        <input type="text" id="input_box" value="5">
        <button id="btn" onclick="OnButtonClick();">Start</button>
      </div>
    </section>
  </main>
  <footer>
    <div class="upperFooter">
      <div class="contentWrapper">
        <nav>
          <ul class="flex">
            <li class="nav-item"><a href="/index.html#about" class="nav-link">Donutsについて</a></li>
            <li class="nav-item"><a href="/members.html" class="nav-link">メンバー紹介</a></li>
            <li class="nav-item"><a href="/irai.html" class="nav-link">出演依頼</a></li>
          </ul>
        </nav>
        <a href="index.html" class="icon"><img src="img/icon.svg"
            style="margin-top: 5%; font-size: 1.2rem; width: 100px" alt="Top"></a>
      </div>
    </div>
    <div class="bottomFooter">
      © 2023 Juggling Donuts
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <style>
    canvas {
      background-color: #f7f5f1;
      border: 3px dotted rgb(80, 69, 51);
      margin: 0 auto;
    }

    .canvasWrapper {
      width: 300px;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
    }

  </style>
  <script>
    "use strict"
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var half_w = canvas.width / 2;
    var half_h = canvas.height / 2;

    var input_box = document.getElementById('input_box');
    var button = document.getElementById('btn');
    var raf;

    var flg = false;

    var x_throw = 30;
    var x_receive = 80;
    var y_base = -150;
    var g = 0.1;

    var cnt = 0;
    var interval = 25;

    var pattern = [];
    var len = pattern.length;
    var idx = 0;

    var balls = [];

    var Ball = function (height, direction, color) {
      this.color = color;
      this.height = height - 0.5;
      this.t = 0;

      var dx = height % 2 == 0 ? x_receive - x_throw : - x_throw - x_receive;
      if (direction == 0) {
        this.x0 = - x_throw;
        this.x1 = this.x0 - dx;
        this.vx = - dx / (this.height * interval);
      } else if (direction == 1) {
        this.x0 = x_throw;
        this.x1 = this.x0 + dx;
        this.vx = dx / (this.height * interval);
      }

      if (this.x1 > 0) {
        this.handx = x_throw;
      } else {
        this.handx = -x_throw;
      }

      this.y = y_base;
      this.vy = g * interval * this.height / 2
    }

    Ball.prototype.move = function () {
      if (this.t > interval * (this.height + 0.5)) {
        balls = balls.filter(ball => ball != this);
      } else if (this.t > interval * this.height) {
        this.x = this.x1 + (this.handx - this.x1) / (0.5 * interval) * (this.t - interval * this.height);
        this.y = y_base + 0.3 * (this.t - interval * this.height) * (this.t - interval * (this.height + 0.5));
      } else {
        this.x = this.x0 + this.vx * this.t;
        this.y = y_base + this.vy * this.t - g * this.t ** 2 / 2;
      }
      this.t++;
    }

    Ball.prototype.draw = function () {
      this.move();
      // draw
      ctx.beginPath();
      ctx.arc(half_w + this.x, half_h - this.y, 10, 0, Math.PI * 2, true);
      ctx.closePath();
      ctx.fillStyle = this.color;
      ctx.fill();
    }

    function draw() {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      // set new balls
      if (cnt % interval == 0) {
        var direction = cnt % (interval * 2) == 0 ? 0 : 1;
        var height = pattern[idx];
        if (height != 0) {
          balls.push(new Ball(pattern[idx], direction, "darkolivegreen"))
        }
        idx = (idx + 1) % len
      }
      // move & draw balls
      balls.forEach(function (e) {
        e.draw();
      })
      // next timestep
      cnt = cnt + 1 % (interval * 2);
      raf = window.requestAnimationFrame(draw);
    }

    function OnButtonClick() {
      if (!flg) {
        // read input
        var pattern_str = input_box.value.split('');
        pattern = pattern_str.map(x => parseInt(x))
        if (pattern.reduce((acc, x) => acc || isNaN(x), false)) {
          alert("invalid input");
          return;
        }
        // reset
        balls = []
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        cnt = 0;
        idx = 0;
        len = pattern.length
        // chanbe start -> stop
        input_box.disabled = true;
        btn.textContent = "Stop"
        // start animation
        raf = window.requestAnimationFrame(draw);
      } else {
        input_box.disabled = false;
        btn.textContent = "Start"
        window.cancelAnimationFrame(raf);
      }
      flg = !flg;
    }
  </script>
  <script>
    $(".trigger").click(function () {
      $(this).toggleClass("active")
      $("header nav").toggleClass("onanimation")
    });

    $("header nav li a").click(function () {
      $(".trigger").removeClass("active")
      $("header nav").toggleClass("onanimation")
    });
  </script>
</body>

</html>
