{% extends "templates/base.html" %}
{% block content %}
<section id="top">
  <div class="contentWrapper">
    <img class="image" src="img/top.jpg">
  </div>
  {% if jdlYear %}
  <div class="contentWrapper jdl_div">
    <h2>
      Juggling Donuts Live {{ jdlYear }}<br><br>
      特設ページオープン!
    </h2>
    <a href="./jdl.html"></a>
  </div>
  {% endif %}
</section>

<section id="about">
  <div class="contentWrapper">
    <h2>Donutsについて</h2>
    <p>
      ジャグリングドーナツは日本でも珍しいジャグリングのサークルです。 みんなで集まって、技を教えあったり、研究したり、遊んだり 楽しくジャグリングしています。 地域のイベントの出演依頼などにも精力的に応じ、
      学園祭では大道芸を披露しています。 またコンパや合宿などイベントも盛り沢山です。
    </p>
    <p>
      98年の夏に発足し、最初は小人数のサークルでしたが 徐々に人数も増え、今ではとても大きなサークルになりました。 ゆくゆくは関西全域に活動範囲を広げていこうという 野望を抱いていますが… 果たしてどうなるのでしょうか。
    </p>
  </div>
</section>
<section id="activities">
  <div class="contentWrapper">
    <h2>活動内容</h2>
    <article>
      <h3>練習</h3>
      <p>
        各メンバーが好きなときに参加し、自由に練習しています。 参加への強制は一切ありません。 新入生へのアドバイスをしたり、お互いに新しい技を披露しあったり、ただ黙々と練習したりと、自由な雰囲気でやっています。
      </p>
    </article>
    <article>
      <h3>NF (11月祭)</h3>
      <p>
        京都大学の学園祭、通称NFと呼ばれます。 ジャグリングドーナツはこの学園祭期間中、京都大学構内の一角（昨年は吉田南図書館前）で大道芸を披露しています。
        新入生を始め全員参加のこのイベントは、ドーナツのメインイベントの一つです。
        お陰様で毎年好評を博しています。
      </p>
    </article>
    <article>
      <h3>JDL (Juggling Donuts Live)</h3>
      <p>
        1999年に世界的なジャグラー、トニーダンカンが来日した際彼と共にジャグリングショーを企画しました。 この企画は大勢のお客さんと予想以上の盛り上がりのなか大成功を収めました。
        その後もドーナツは毎年ジャグリングを用いたステージショーを開催しています。
      </p>
    </article>
    <article>
      <h3>出演依頼</h3>
      <p>
        ジャグリングドーナツは日ごろ鍛えた技を披露するべく、子供会、老人会、各種地域イベントへの出演依頼に積極的に応じています。 ジャグリングには「やる」楽しみだけではなく、｢見せる」楽しみもあります。
        このような機会に一般のお客さん相手にジャグリングを見せることはまた新鮮な経験になりますし、そこでお客さんに喜んでいただければ非常にうれしいものです。
      </p>
    </article>
    <article>
      <h3>合宿</h3>
      <p>
        毎年9月頃に大阪大学ジャグリングサークル"Patio"や他のジャグリングサークルと一緒に合宿を行なっています。 ワークショップやゲーム、発表会など朝から晩までジャグリング漬けの日々になります。
      </p>
    </article>
    <article>
      <h3>琵琶湖キャンプ</h3>
      <p>
        毎年8月上旬に琵琶湖へ1泊2日のキャンプへ出かけます。琵琶湖へ行ってもやることはジャグリング…？。いえいえ、泳いだり、バーベキューなんかも普通にしています。
      </p>
    </article>
</section>
<section id="contact">
  <div class="contentWrapper">
    <h2>お問い合わせ</h2>
    <p>
      twitter:<a href="https://twitter.com/Juggling_Donuts">Juggling_Donuts</a><br>
      見学など:<a href="mailto:donuts.daihyou@gmail.com">donuts.daihyou@gmail.com</a><br>
      出演依頼:<a href="mailto:donuts.irai@gmail.com">donuts.irai@gmail.com</a><br>
    </p>
  </div>
</section>



{% endblock %}